* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 500px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#top-header {
    height: 70px;
    padding: 20px 0;
}

.logo {
    display: inline-block;
    width: 20%;
}

.logo > img {
    vertical-align: middle;
}

.nav-menu {
    display: inline-block;
    text-align: center;
    width: 60%;
}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 30px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}


.login {
    display: inline-block;
    width: 19.3%;
    text-align: right;
}

.login > a {
    background-color: white;
    color: black;
    padding: 5px;
    text-decoration: none;
    border-radius: 2em;
}




