* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 550px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Header - top bar section */

#top-header {
    height: 70px;
    padding: 20px 0;
}

.logo {
    display: inline-block;
    width: 20%;
}

.logo > img {
    vertical-align: middle;
}

.nav-menu {
    display: inline-block;
    text-align: center;
    width: 60%;
}

.nav-menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 30px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

#login {
    display: inline-block;
    width: 19.3%;
    text-align: right;
}

#login > a {
    background-color: white;
    color: black;
    padding: 8px;
    text-decoration: none;
    border-radius: 2em;
}

/* Header - Text section */

.header-text {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.header-text > h1 {
    font-weight: 600;
}

.header-text > h1,
.header-text > p {
    padding: 25px 0;
    color: white;
    line-height: 30px;
}

.button {
    display: inline-block;
    padding: 15px;
    background-color: white;
    border-radius: 2em;
    margin: 0 10px;
}

.button > a {
    text-decoration: none;
}

.button.white-button {
    background-color: white;
}

.button.black-button {
    background-color: black;
}

.button.white-button a {
    color: black;
}

.button.white-button::before {
    content: "\21AF";

}

.button.black-button a {
    color: white;
}

/* Main section */

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
} 

section .bg {
    height: 500px;
}

main .container {
    padding: 80px 0 20px;
} 

.section-image img {
    width: 90%;
}

.section-text {
    width: 30%;
    height: 500px;
    padding: 50px 0;
    line-height: 38px;
    text-align: left;
}

.section-text h2 {
    font-size: 33px;
    font-weight: 600;
    padding-bottom: 30px;
}

.section-text p {
    line-height: 28px;
}

